<section class="seccionArticulos container" id="articulo">
        <article class="articulos">
                <div class="iconoArticulo">
                        <img src="./../../iconos/carbonvegetal.png">
                </div>
                <div class="descripcion">
                        <h2>Carbón Vegetal</h2>
                        <p>Distribuidor de carbón vegetal en el ámbito nacional a restaurantes y domicilios, de alta calidad
                                en diferentes cantidades según lo necesites.</p>
                </div>
        </article>
        <article class="articulos">
                <div class="iconoArticulo">
                        <img src="./../../iconos/carbonmineral (2).png">
                </div>
                <div class="descripcion">
                        <h2>Carbón Mineral</h2>
                        <p>Distribuimos carbón de origen mineral en Buenos Aires y el resto de Argentina.
                        Carbón especialmente indicado para estufas y fraguas.</p>
                </div>
        </article>
        <article class="articulos">
                <div class="iconoArticulo">
                        <img src="./../../iconos/leñaSin cambiar.png" width="300px" height="300px">
                </div>
                <div class="descripcion">
                        <h2>Leña de Encina</h2>
                        <p>omos distribuidores de leña de encina a domicilio en Buenos Aires.
                                 Te lo llevamos a casa de manera rápida y ajustándonos a tus horarios</p>
                </div>
        </article>
        <article class="articulos">
                <div class="iconoArticulo">
                        <img src="./../../iconos/leñaRoble.png">
                </div>
                <div class="descripcion">
                        <h2>Leña de Roble</h2>
                        <p>Si lo que necesitas para tu chimenea es leña de roble, habla con nosotros.
                                 Vendemos y distribuimos leña de roble en Madrid.</p>
                </div>
        </article>
        <article class="articulos">
                <div class="iconoArticulo">
                        <img  src="./../../iconos/leñaSin cambiar.png" width="300px" height="300px">
                </div>
                <div class="descripcion">
                        <h2>Leña de olivo</h2>
                        <p>Para algunas chimeneas la leña más recomendable es la de olivo.
                                 Si ese es tu caso o tienes dudas, nosotros te asesoramos</p>
                </div>
        </article>
        <article class="articulos">
                <div class="iconoArticulo">
                        <img src="./../../iconos/bolsa2.png" id="bolsa" >
                </div>
                <div class="descripcion">
                        <h2>Astillas y Pastillas</h2>
                        <p>Ponemos a su disposición una gran variedad de materiales para
                                 prendido de hogueras, desde astillas de pino a pastillas de encendido..</p>
                </div>
        </article>
</section>