
    <footer>
        <div class="contenedorIso">
        <article class="isoFooter"><img src='./img/IsologoModernoFin.png' ></article>
        </div>
        <div class="contenedorIconos">
        <article class="iconoGrupo">
            <a href="#"><ion-icon name="home" class="iconos"></ion-icon></a>
            <p>calle 123. Buenos Aires</p>
        </article>
        <article class="iconoGrupo">
           <a href="#"> <ion-icon name="call" class="iconos"></ion-icon></a>
            <p>+54 11234456</p></article>
        <article class="iconoGrupo">
            <a href="#" class="iconos">
                <ion-icon name="mail" class=""></ion-icon>
            </a>
            <p>info@carbonar.com</p>
        </article>
        </div>
        

    </footer>
    <script src="https://unpkg.com/ionicons@4.4.4/dist/ionicons.js"></script>
    
